@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#particles-js {
  .common-block { position: relative; } canvas { position: absolute; top: 0; z-index: -1; }
}

#weedbox {
  z-index: 0;
}
